section#about
  h2 About
  div.bio-container
    div.headshot
      = image_tag('kathy.jpg', alt: "Kathleen Lachance")
    div.bio
      p As an art student in Detroit, I worked as a decorative artist on several Restoration Projects. It was then that I fell in love with the preservation and execution of faux finishes. The discipline of the decorative arts, in a historically correct manner, has been both challenging and rewarding. Knowing that I am one of the artists that has kept these art finishes alive has given me a great sense of joy and purpose.
      p In an age where craftsmanship is often sacrificed for the sake of expediency,  Woodgrain Studios is a company that places the craft before commerce.
      p Educating the public by preserving these Historical Landmarks truly tells the story of the artisans and craftsmen that have came before us.

= render partial: "shared/contact-cta", locals: {custom_text: "Kathleen is currently available for appraisals."}