- content_for :head do 
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

section#contact
  h2 Contact
  = form_tag('/contact/email')
    .input_field
      = label_tag 'name','Name'
      = text_field_tag :name, nil, required: true, minlength: 3, maxlength: 30
    .input_field
      = label_tag 'email','Email'
      = email_field_tag :email, nil, required: true, minlength: 3, maxlength: 50
    .input_field
      =label_tag 'phone', 'Phone number'
      = telephone_field_tag :phone, nil, required: false, minlength: 3, maxlength: 30
    .input_field
      = label_tag 'body', 'Message'
      = text_area_tag :body, nil, required: true, minlength: 3
    .input_field
      div.g-recaptcha data-sitekey="6LeCrUAUAAAAADK2KdZjEoGtu1EKk3F0msDUUuKP" data-callback="enableSubmit"
    .input_field
      = submit_tag "Send", id: "contact-submit", disabled: true

javascript:
  function enableSubmit(){
    document.getElementById("contact-submit").disabled = false;
  }