.hero
  .cta
    h2 Where art and woodgrain meet.
    ul
      li
        = link_to "Our Story", about_path
      li
        = link_to "The Gallery", photos_path

section#services
  h2 Services
  ul
    li
      = image_tag('distressing.jpg', alt: "distressing")
      p Distressing
    li
      = image_tag('glazing.jpg', alt: "glazing")
      p Glazing
    li
      = image_tag('marbling.jpg', alt: "marbling")
      p Marbling
    li
      = image_tag('graining.jpg', alt: "graining")
      p Wood Graining
    li
      = image_tag('stenciling.jpg', alt: "stenciling")
      p Stencils
    li
      = image_tag('strie.jpg', alt: "strie")
      p Strie

= render partial: "shared/contact-cta", locals: {custom_text: nil}