<!DOCTYPE html>
html lang="en"
head
  meta charset="UTF-8"/
body
  h1 Woodgrain Website Email

  p From: #{@params[:name]}
  p Email: #{@params[:email]}
  p Phone: #{@params[:phone]}
  p #{@params[:body]}