section#gallery
  h2 Gallery
  .photos
    = render(@photos) || "Gallery is empty"

div#imageModal.modal
  span.close &times;
  img#modalImg.modal-content
  div#caption

javascript:
  var modal = document.getElementById('imageModal');
  var modalImg = document.getElementById("modalImg");
  var captionText = document.getElementById("caption");

  $(".myImg").click(function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  });

  var close = document.getElementsByClassName("close")[0];

  close.onclick = function() { 
    modal.style.display = "none";
  }