@mixin wrapper {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
}

@mixin container-padding {
  padding: 50px 30px;
}

@mixin gallery-photo {
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  }
}

@mixin button($font-size, $color, $hover-color) {
  font-size: $font-size;
  color: $color;
  border: 3px solid $color;
  border-radius: 7px;
  text-decoration: none;

  &:hover {
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    background-color: $color;
    color: $hover-color;
  }
}