@import 'mixins';
@import 'colors';

footer {
  @include wrapper;
  @include container-padding;
  width: 100%;
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    p {
      margin: 0;
      color: #D6CEC2;

      a {
        color: #D6CEC2;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  footer {
    flex-direction: column-reverse;

    div, nav {
      text-align: center;
      width: 100%;
    }

    nav {
      margin-bottom: 30px;
      font-size: 1.2em;
    }
  }
}