@import 'mixins';

header {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      text-align: center;
    }
  }
}