// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'fonts';
@import 'mixins';

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  background-color: $white;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {

  h1 {
    font-family: $heading-font;
    color: $black;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: image-url("hero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .cta {
      h2 {
        font-family: $heading-font;
        font-size: 4em;
        color: $light-brown;
        text-align: center;
      }
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
          display: inline-block;
          margin: 0 40px;

          a {
            display: block;
            padding: 20px 30px;
            font-weight: 500;
            min-width: 200px;
            box-sizing: border-box;
            @include button(1.5em, $light-brown, $brown);
          }
        }
      }
    }
  }
}

section#services {
  @include wrapper;
  @include container-padding;
  
  h2 {
    margin-top: 0;
    font-size: 2.5em;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      width: 30%;
      text-align: center;
      margin: 20px;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        max-width:100%;
      }

      p {
        font-size: 1.6em;
      }
    }
  }
}

nav {
    ul {
      margin: 0;
      padding: 0;
      
      li {
        display: inline-block;
        margin-left: 15px;

        &:first-child {
          margin: 0;
        }

        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }

section#about {
  @include wrapper;
  @include container-padding;

  h2 {
    text-align: center;
    font-size: 2.5em;
  }

  div.bio-container {
    display: flex;
    justify-content: space-between;

    div.bio {
      margin-left: 40px;
    }
  }
}

section#contact {
  @include wrapper;
  @include container-padding;
  
  h2 {
    text-align: center;
    font-size: 2.5em;
  }

  form {
    width: 500px;
    margin: 0 auto;
    text-align: center;

    div.input_field {
      width: 100%;
      margin-bottom: 30px;
  
      label {
        display: block;
        text-align: left;
      }
  
      input, textarea {
        width: 100%;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid $brown;
        box-sizing: border-box;
      }

      textarea {
        height: 300px;
      }

      input[type=submit] {
        width: 100%;
        border: none;
        padding: 15px;
        font-family: $body-font;
        font-size: 1em;
      }

      div.g-recaptcha {
        display: inline-block;
      }
    }
  }
}

p.flash {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  section#contact {
    form {
      width: 100%;

    }
  }

  section#about {
  
    div.bio-container {
      flex-wrap: wrap;

      div.bio, div.headshot {
        width: 100%;
      }

      div.headshot {
        text-align: center;
        margin-bottom: 30px;
      }

      div.bio {
        margin: 0;
      }
    }
  }

  section#services {
    ul {
      li {
        width: 100%;
      }
    }
  }

  .content {
    .hero {
      .cta {
        h2 {
          font-size: 2em;
          margin-bottom: 50px;
        }

        ul {
          li {
            margin: 0 20px;
            width: calc(100% - 40px);
            
            &:first-child {
              margin-bottom: 20px;
            }
            
            a {
              @include button(1.2em, $light-brown, $brown);
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}