@import 'colors';
@import 'mixins';
@import 'fonts';

// Partials

// Contact CTA
.contact-cta {
  background-color: $brown;

  .cta-container {
    @include wrapper;
    @include container-padding;
    text-align: center;

    h3, a {
      display: inline-block;
      margin: 0 30px;
      color: $light-brown;
    }

    h3 {
      font-size: 1.4em;
    }

    a {
      @include button(1.2em, $brown, $light-brown);
      background-color: $light-brown;
      padding: 10px 20px;

      &:hover {
        background-color: $light-brown;
        color: $brown;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .contact-cta {
    .cta-container {
      a {
        margin: 0 auto;
      }

      h3 {
        display: block;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .contact-cta {
    .cta-container {
      a {
        display: block;
      }
    }
  }
}