doctype html
html
  head
    title Woodgrain Studios
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat|Roboto'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = content_for :head
    = csrf_meta_tags
    <meta name="description" content="Woodgrain Studios | Where art and woodgrain meet.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
  body
    .content
      = render '/shared/header'
      = render '/shared/flash'
      = yield
  
    = render '/shared/footer'

